// Global CSS goes here

/* TYPOGRAPHY & GENERAL STYLES */

p{
  color: $midGray;
  font-size: 17px;
  width:90%;
}

.bold{
  font-family: "freight-sans-pro",sans-serif;
  font-weight: 700;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body{
  background-color: $lightGray;
  font-family: "freight-sans-pro",sans-serif;
}

/* HERO SECTION */

.hero {
  width: 100%;
  height: 100vh;
  position:relative;

  .heroImage {
    background: url("/dist/images/Richie.png") no-repeat;
    width: 151%;
    height: 100%;
    background-size: contain;
    position: absolute;
    top:15%;
    right:-38%;
  }

  .logoContainer {
    background: url(/dist/images/logo.png) no-repeat;
    width: 55%;
    height: 30%;
    background-size: contain;
    display: block;
    position: relative;
    z-index: 10;
    left: 54%;
    bottom: 30px;
  }

  .heroBlotch {
    width: 100%;
    height: 30%;
    background: url(../images/small-blotch.png) no-repeat;
    position: absolute;
    background-size: contain;
    left: 85%;
    top:75%;
    z-index:10;
  }

  .dots {
    //width: 285px;
    //height: 80%;
    //background: url("/dist/images/dots.png") repeat;
    //position: absolute;
    //top: 200px;
    //right: 0;
    //z-index: 11;
    display:none;
  }
}

/* FIRST SECTION */

.first{
  padding-bottom:80px;
  background-color: $black;
  position: relative;
  top: -25px;
  z-index: 9;

  .darkTopBlotch{
    background: url("../images/black-edge-top.png") repeat-x;
    height: 50px;
    position: relative;
    top: -50px;
  }
}

.imageHeadline {
  width: 200px;
}

hr {
  height: 1px;
  border-top: 1px solid rgba(187,186,183,0.4);
  margin: 1em 0;
  width: 75%;
}

.smallLogo{
  width: 60px;
  margin-top: 12px;
}

/* SECOND SECTION */

.second {
  text-align:center;

  .grayTopBlotch{
    background: url("../images/gray-edge.png") repeat-x;
    height: 50px;
    position: relative;
    top: -50px;
    z-index:10;
  }

  .coolGlasses {
    padding-top:100px;
    padding-bottom:150px;
  }
}

/* THIRD SECTION */

.third {
  background: url(../images/large-blotch-full.png) repeat-x;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  position: relative;
  padding-bottom:100px;

  .smallLogo {
    margin-top: 100px;
    margin-bottom:0px;
    position: relative;
  }

  p {
    color:$black;
    margin-bottom:0px;
  }

  .quote {
    margin-top:24px;
  }

  .source {
    padding-left:20px;
    font-size:13px;
  }
}

/* FOURTH SECTION */

.fourth {
  padding-bottom:80px;
  padding-top:80px;
  position: relative;
  z-index: 9;

  hr {
    width:110%;
  }

  p {
    color:$black;
    margin-bottom:0px;
  }

  .last {
    margin-top:24px;
  }

}