// Global CSS goes here

/* USAGE

div.logo {
   background: url("logo.png") no-repeat;
   @include image-2x("logo2x.png", 100px, 25px);
 }

*/

body{
  background-color: $lightGray;
  font-family: "freight-sans-pro",sans-serif;
}

.bold{
  font-family: "freight-sans-pro",sans-serif;
  font-weight: 700;
}

.hero{
  width: 100%;
  height: 90vh;
  overflow: hidden;

  .heroImage{
    background: url("/dist/images/Richie.png") no-repeat;
    width: 100%;
    height: 90%;
    background-size: contain;
    position: fixed;

    @include image-2x("../images/Richie@2x.png", 100%, 100%);
  }

  .logoContainer{
    background: url("/dist/images/logo.png") no-repeat;
    width: 300px;
    height: 300px;
    background-size: contain;
    display: block;
    margin: auto;
    position: relative;
    top: 50px;

    @include image-2x("../images/logo@2x.png", 100%, 100%);
  }

  .heroBlotch{
    width:750px;
    height: 100%;
    max-height: 1000px;
    background: url("../images/large-blotch-half.png") no-repeat;
    position: absolute;
    background-size: contain;
    right: 0;
    top: 30%;
    z-index: 10;

    @include image-2x("../images/large-blotch-half@2x.png", 40%, 100%);

    // ADD MEDIA QUERY TO SWAP IN LARGER IMAGE FOR SCREENS OVER STANDARD SIZES


  }

  .dots{
    width: 300px;
    height: 79%;
    background: url("/dist/images/dots.png") repeat;
    position: absolute;
    top: 200px;
    right: 0;
    z-index: 11;

  }
}

.darkBlotch{
  width: 100%;
  height: 2000px;
  background-color: $black;
  position: relative;
  top: -25px;
  z-index: 9;

  .darkTopBlotch{
    background: url("../images/black-edge-top.png") repeat-x;
    width: 100%;
    height: 50px;
    position: relative;
    top: -50px;
  }

  .container{
    margin-top: 250px;
  }
}

.imageHeadline{
  width: 250px;
  height: auto;
}

.smallLogo{
  width: 100px;
  height: auto;
  margin-top: 50px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $midGray;
  margin: 1em 0;
  padding: 0;
}

/* TYPOGRAPHY */
p{
  color: $midGray;
  font-size: 20px;
}