// Global CSS goes here

/* TYPOGRAPHY & GENERAL STYLES */

p{
  color: $midGray;
  font-size: 17px;
  padding-right:40px;

  @media (min-width: 550px) {
    font-size:18px;
  }

  @media (min-width: 750px) {
    font-size:20px;
  }
}

.bold{
  font-family: "freight-sans-pro",sans-serif;
  font-weight: 700;
}

.italic{
  font-style: italic;
}

.blackFont {
  color:$black;
  text-decoration:none;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body{
  background-color: $lightGray;
  font-family: "freight-sans-pro",sans-serif;
}

/* HERO SECTION */

.hero {
  width: 100%;
  height: 100vh;
  position:relative;

  @media (min-width: 400px) {
    height:50vh;
  }

  @media (min-width: 415px) {
    height:100vh;
  }

  @media (min-width: 750px) {
    height:50vh;
  }

  @media (min-width: 1000px) {
    height:90vh;
  }

  .heroImage {
    background: url("/dist/images/Richie.png") no-repeat;
    width: 151%;
    height: 100%;
    background-size: contain;
    position: absolute;
    top:15%;
    right:-38%;

    @media (min-width: 400px) {
      width:100%;
      right:0%;
      top:0%;
    }

    @media (max-width: 1375px){
      top: 10%;
    }

    @media (max-width: 1200px){
      top: 20%;
    }

    @media (max-width: 750px){
      width: 100%;
      top: 54%;
      right: 5%;
    }

    @media (max-width: 550px){
      width: 131%;
      height: 100%;
      background-size: contain;
      position: absolute;
      top: 26%;
      right: -15%;
    }
  }

  .logoContainer {
    background: url(/dist/images/logo_small_short-01.gif) no-repeat;
    width: 55%;
    height: 30%;
    background-size: contain;
    display: block;
    position: relative;
    z-index: 12;
    left: 54%;
    bottom: 30px;
    z-index: -1;

    @media (min-width: 400px) {
      bottom: 0;
      height: 40%;
      top: 3%;
    }

    @media (min-width: 550px) {
      left:45%;
    }

    @media (min-width: 750px) {
      height:35%;
    }

    @media (max-width: 550px){
      left: 44%;
      bottom: -60px;
    }
  }

  .heroBlotch {
    width: 100%;
    height: 30%;
    background: url(../images/small-blotch.png) no-repeat;
    position: absolute;
    background-size: contain;
    left: 85%;
    top:75%;
    z-index:10;

    @media (min-width: 400px) {
      background: url(../images/large-blotch-half.png) no-repeat;
      top: 50%;
      height: 70%;
      left: 65%;
      background-size: contain;
    }

    @media (min-width: 550px) {
      top: 30%;
      height: 80%;
    }

    @media (min-width: 1280px) {
      top: 30%;
      height: 90%;
      left: 70%; 
    }

    @media (max-width: 550px){
      left: 65%;
    }
  }

  .dots {
    display:none;

    @media (min-width: 400px) {
      display:block;
      background: url("/dist/images/dots.png") repeat;
      display: block;
      height: 50%;
      width: 28%;
      position: absolute;
      right: 0;
      z-index: 11;
      top: 60%;
    }

    @media (min-width: 415px) {
      top:63%;
    }

    @media (min-width: 550px) {
      height:62%;
      top: 36%;
    }

    @media (min-width: 750px) {
      right: -8%;
    }

    @media (min-width: 1200px) {
      right:-8%;
    }

    @media (min-width: 1200px) {
      top: 26%;
      height: 61%;
    }
  }
}

/* FIRST SECTION */

.first{
  padding-bottom:80px;
  background-color: $black;
  position: relative;
  top: -25px;
  z-index: 9;

  .darkTopBlotch{
    background: url("../images/black-edge-top.png") repeat-x;
    height: 50px;
    position: relative;
    top: -49px;
  }

  .container {
    padding-top:0px;
    padding-bottom:80px;

    @media (min-width: 400px) {
      padding-top:80px;
    }
  }
}

.imageHeadline {
  width: 200px;

  @media (min-width: 550px) {
    width:250px;
  }
}

hr {
  height: 1px;
  border-top: 1px solid rgba(187,186,183,0.4);
  margin: 1em 0;
  width: 75%;

  @media (min-width: 550px) {
    width:120%;
  }
}

.smallLogo{
  width: 60px;
  margin-top: 12px;

  @media (min-width: 400px) {
    width:80px;
  }

  @media (min-width: 550px) {
    width:100px;
  }
}

/* SECOND SECTION */

.second {
  text-align:center;
  background-color:$lightGray;
  z-index:10;
  position:relative;
  height: 120vh;

  .grayTopBlotch{
    background: url("../images/gray-edge-2.png") repeat-x;
    height: 50px;
    position: relative;
    top: -49px;
    z-index:10;
  }

  .coolGlasses {
    width:100%;
    padding-top:80px;
    padding-bottom:150px;
    max-width:960px;

    opacity:1;
    transition:opacity 1s ease;

    &.hide {
      opacity:0;
    }
  }
}

/* THIRD SECTION */

.third {
  background-color: $blotchColor;
  width: 100%;
  position: fixed;
  top: 0;
  z-index:9;
  display: none;
  height: 100vh;

  @media (min-width: 667px) {
    background-size:contain;
    background-repeat:no-repeat;
    background-position: 20%;
    padding-bottom:240px;
  }

  @media (min-width: 1200px) {
    padding-bottom:360px;
  }

  .columns {
    display:block !important;
    opacity:1;
    transition:opacity 2s ease;
    position: relative;
    top: 300px;

    &.hide {
      opacity:0;
    }

    @media (max-width: 550px){
      position: relative;
      top: 100px;
    }
  }

  .smallLogo {
    margin-top: 100px;
    margin-bottom:0px;
    position: relative;
  }

  p {
    color:$black;
    margin-bottom:0px;
  }

  .quote {
    margin-top:24px;
  }

  .source {
    padding-left:20px;
    font-size:13px;

    @media (min-width: 750px) {
      font-size:15px;
    }
  }
}

.dotsContainer{
  display: block;
  position:absolute;
  z-index: 10;
  width: 100%;
  height: 400px;

  .dots {
    display: none;

    @media (min-width: 750px) {
      background: url(/dist/images/dots.png);
      display: block;
      height: 70%;
      width: 24.5%;
      position: absolute;
      left: 0;
      z-index: 11;
      top: 120%;
    }
  }
}

.thirdReveal{
  width: 100%;
  height: 600px;
  position: relative;

  .grayTopBlotch{
    background: url("../images/gray-edge-2bottom.png") repeat-x;
    height: 50px;
    position: relative;
    top: -2px;
    z-index:10;
  }
  .grayBottomBlotch{
    background: url("../images/gray-edge-2.png") repeat-x;
    height: 50px;
    position: relative;
    top: 512px;
    z-index:10;
  }
}

/* FOURTH SECTION */

.fourth {
  padding-bottom:80px;
  padding-top:80px;
  position: relative;
  z-index: 16;
  background-color: $lightGray;

  @media (min-width: 1025px) {
    position: relative;
    bottom: -10px;
  }

  @media screen and (max-width: 550px){
    padding-left: 50px;
  }

  .imageHeadline{
    margin-bottom: 30px;
  }

  .logoFg {
    transition:opacity 1s ease;
    opacity: 0;
    top: 127%;
    left: 9%;
    position:absolute;
    width:150px;

    &.show {
      opacity:1;
    }

    &.is_stuck {
      position:fixed !important;
      top:200px !important;
    }

    @media (min-width: 1000px) {
      left: 11%;
      display:block;
      opacity:1;
    }

    @media (min-width: 1025px) {
      position: absolute;
      top: -20%;
      width:150px;
      opacity:0;
    }

    @media (min-width: 1200px) {
      left:8%;
      width: 250px;
    }
  }

  .dots {
    display: none;

    @media (min-width: 750px) {
      background: url(/dist/images/dots.png);
      display: block;
      height: 20%;
      width: 25%;
      position: absolute;
      left: 0;
      z-index: 11;
      top:18%;
    }

    @media (min-width: 1000px) {
      width:26%;
      height:40%;
    }
  }

  .smallBlotchBg{
    position: absolute;
    top: 500px;
    right: 400px;

    @media (max-width: 1300px){
      right: 100px;
    }

    @media (max-width: 960px){
      display: none;
    }
  }

  hr {
    width:110%;
    border-color:$black;
  }

  p {
    color:$black;
    margin-bottom:20px;
  }

  .last {
    margin-top:24px;
  }

}


footer {
  background:$black;
  z-index:10;
  position:relative;
  padding-bottom:80px;
  padding-top: 50px;
  z-index:17;

  .footerTopBlotch {
    background: url(/dist/images/gray-edge-2bottom.png) repeat-x;
    height: 50px;
    position: relative;
    top: -52px;
    z-index:10;
  }

  p {
    color:$lightGray;
    width:100%;
    margin-bottom:0px;
    top: 10px;
    position: relative;

  }

  a{
    font-size: 20px;
    color: $lightGray;
    text-decoration: none;

    &:hover{
      color: $blotchColor;
    }
  }

  .footerLogo{
    display: block;
    margin-top: 100px;
    margin-left: 0px;
  }
}